.navbar-brand{
    font-family: 'Kiwi Maru', serif;
    font-size: 20px;
}
@media (min-width: 992px){
    .navbar-nav{
        padding-left: 40%;
    }
    .navbar-brand{
        padding: 10%;
    }
}
