/* 設定通用 css */
.navbar-brand{
    font-family: 'Kiwi Maru', serif;
    font-size: 20px;
}

/* 設定 large 裝置 css */
@media (min-width: 992px){
    .navbar-nav{
        padding-left: 40%;
    }
    .navbar-brand{
        padding: 10%;
    }
    .banner-sm{
        display: none;
    }
    .container-custom-width{
        max-width: 67.5%;      
    }
}
/* 設定 small 裝置 css*/
@media (max-width: 768px){
    .banner-lg{
        display: none;
    }
}